{% extends 'base.html' %}

{% block content %}
    <h2>About</h2>
    <p>This page displays images and quotes by 
    <a href="https://en.wikipedia.org/wiki/Nelson_Mandela">Nelson Mandela</a>
    </p>
    <p>Nelson Mandela was a South African anti-apartheid activist, politician, and statesman who served as the first president of South Africa from 1994 to 1999. 
        He was the country's first black head of state and the first elected in a fully representative democratic election.</p>

    <p>{{creator_info}}</p>
{% endblock %}