{% extends 'mini_fb/base.html' %}

{% block content %}
<!-- individual profile view -->
    <div class="profile-container" style="text-align: center;">
        <h2>{{ profile.first_name }} {{ profile.last_name }} 's Profile</h2>
        <div class="profile-image" style="margin: auto; display: inline-block;">
            <img src="{{ profile.profile_image_url }}" alt="{{ profile.username }}'s Profile Image" style="max-width: 500px; height: 300px;">
        </div>
    <table>
        <tr>
            <th>First Name:</th>
            <td>{{ profile.first_name }}</td>
        </tr>
        <tr>
            <th>Last Name:</th>
            <td>{{ profile.last_name }}</td>
        </tr>
        <tr>
            <th>City:</th>
            <td>{{ profile.city }}</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>{{ profile.email }}</td>
        </tr>
    </table>

    {% if user.is_authenticated and user == profile.user %}
    <table>
        <td><p><a href="{% url 'update_profile' pk=profile.pk %}">Update Profile</a></p></td>
        <td><p><a href="{% url 'create_status' profile.pk %}">Post a new status</a></p></td>
        <td><p><a href="{% url 'show_news_feed' pk=profile.pk %}">View News Feed</a></p></td>
    </table>
    {% else %}
        <p>You have read-only access to this profile.</p>
    {% endif %}
    
    <br>
    <ul>

    <table>
        <thead><h3>Friends</h3></thead>
            {% for friend in profile.get_friends %}
            <tr>
            <td><a href="{% url 'show_profile' friend.pk %}">{{ friend.first_name }} {{ friend.last_name }}</a></td>
            <td><img src="{{ friend.profile_image_url }}" alt="{{ friend.name }}" style="max-width: 300px; max-height: 250px; border-radius: 10%;"></td>
            </tr>
            {% empty %}
        <p>No friends yet.</p>
        {% endfor %}
    </table>
    
    
    </ul>

    <a href="{% url 'friend_suggestions' pk=profile.pk %}">Friend Suggestions</a>


    <!-- Displays status message -->
    <h2>Status Messages:</h2>
    <ul>
        {% for status in profile.status_messages.all %}
        <h4>{{ status.message }} ({{ status.timestamp }})</h4>
        {% for img in status.get_images %}
            <img src="{{ img.image_file.url }}" alt="Image for status message" style="max-width: 500px; height: 300px;">
            <br>
            <br>
        {% endfor %}
        
        <button><a href="{% url 'delete_status' pk=status.pk %}">Delete</a></button>
        <button><a href="{% url 'update_status' pk=status.pk %}">Update</a></button>
        

        {% empty %}
        <p>No status messages yet.</p>
        {% endfor %}
    </ul>

    
    <p><a href="{% url 'show_all_profiles' %}">Back to all profiles</a></p>
    
{% endblock %}
