{% extends 'mini_fb/base.html' %}

{% block content %}
<!-- individual profile view -->
    <div class="profile-container" style="text-align: center;">
        <h2>{{ profile.first_name }} {{ profile.last_name }} 's Profile</h2>
        <div class="profile-image" style="margin: auto; display: inline-block;">
            <img src="{{ profile.profile_image_url }}" alt="{{ profile.username }}'s Profile Image" style="max-width: 500px; height: 300px;">
        </div>
    <table>
        <tr>
            <th>First Name:</th>
            <td>{{ profile.first_name }}</td>
        </tr>
        <tr>
            <th>Last Name:</th>
            <td>{{ profile.last_name }}</td>
        </tr>
        <tr>
            <th>City:</th>
            <td>{{ profile.city }}</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>{{ profile.email }}</td>
        </tr>
    </table>
    <a href="{% url 'create_status' profile.pk %}">Post a new status</a>
    <br>

    <!-- Displays status message -->
    <h2>Status Messages:</h2>
    <ul>
        {% for status in profile.status_messages.all %}
        <h4>{{ status.message }}   {{ status.timestamp }}</h4>
        {% for img in status.get_images %}
            <img src="{{ img.image_file.url }}" alt="Image for status message">
        {% endfor %}
        {% empty %}
        <p>No status messages yet.</p>
        {% endfor %}
    </ul>

    <p><a href="{% url 'show_all_profiles' %}">Back to all profiles</a></p>
{% endblock %}
